<article class="post">
    <div class="title">
        <h4>{{title}}</44>
        <p>{{post_content}}</p>
    </div>
    <div class="meta">
        by {{user.username}} on
        {{created_at}}
        |
        {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
    </div>
</article>